<h2>Welcome to your lending library!</h2>
<h4><%= link_to "Borrow Something", items_path, class:"btn btn-primary" %></h4>
<h4><%= link_to "Donate Something", new_item_path, class:"btn btn-primary" %></h4>
